// button colours
$button-primary-color: unquote("#88B5F4")

// container gradients
$controls-top-gradient: unquote("#D9FEBA")
$controls-bottom-gradient: unquote("#FFE584")
$output-top-right-gradient: unquote("#FCD0F4ED")
$output-bottom-left-gradient: unquote("#FFECA8C9")

// selected bar colour
$bar-selected-colour: unquote("#7054B2")

// transition delay for control elements
$control-transition-delay: 0.15s

// slider
$thumb-radius: 30px
$thumb-color: unquote("#88B5F4")
$track-width: 10px
$track-color: unquote("#7B68EE")

// general
*
	box-sizing: border-box

html, body
	height: 100%
	margin: 0px

// input slider
input[type=range]
	-webkit-appearance: none // hides the slider so that custom slider can be made
	background: transparent

// remove blue outline on focus
input[type=range]:focus
	outline: none

// slider thumb
input[type=range]::-webkit-slider-thumb
	-webkit-appearance: none
	height: $thumb-radius
	width: $thumb-radius
	border-radius: 0px
	background: $thumb-color
	cursor: pointer
	margin-top: -1 * ($thumb-radius/2) + $track-width / 2

// slider track
input[type=range]::-webkit-slider-runnable-track
	width: 100%
	height: $track-width
	cursor: pointer
	background: $track-color
	background: linear-gradient(to right, $controls-bottom-gradient, $track-color) 
	border-radius: 0px

// body
#container
	height: 100%

	#output
		float: left
		width: 80%
		height: 100%
		background: linear-gradient(to bottom left, $output-top-right-gradient,$output-bottom-left-gradient)
        
		#barDisplay
			display: block

	#controls
		float: right
		background: linear-gradient($controls-top-gradient, $controls-bottom-gradient) 
		width: 20%
		height: 100%

		.button
			font-family: Raleway
			background-color: transparent
			border: none
			padding: 15px 32px
			text-align: center
			font-size: 1.2em
			font-weight: bold
			width: calc(100% - 20px)
			margin: 10px 10px 0px 10px
			color: $button-primary-color
			border-style: solid
			border-width: 3px
			text-transform: uppercase
			transition: all $control-transition-delay linear
			
			&:focus
				outline: none

			&:hover
				color: $controls-top-gradient
				background-color: $button-primary-color
				border-color: $button-primary-color

		.sliderLabel
			margin-left: 12px
			margin-top: 15px
			margin-bottom: 10px
			text-transform: uppercase
			font-family: Raleway
			font-size: .9em
			color: $button-primary-color
			font-weight: bold

		.slidecontainer
			width: calc(100% - 23px)
			margin: 10px

			.slider
				width: 100%
				height: 25px

			#numBarsDisplay
				font-family: Raleway
				pointer-events: none
				color: #fff
				font-size: .8em
				position: relative
				text-align: center
				width: 30px
				top: -22px
				//border-style: solid // for debug
        
        
			