*
	box-sizing: border-box

html, body
	height: 100%
	margin: 0

#container
	font-family: Raleway
	height: 100%
	background-color: unquote("#EEEEEE82")
	//background-color: #F7EDFF

	#output
		float: left
		display: flex
		width: 80%
		height: 100%
		background-color: unquote("#F1EEFF")

		.bar
			width: 100%
			background-color: white
			height: 0%
			align-self: flex-end
			transition: all 0.3s linear

	#controls
		float: right
		background-color: unquote("#FFFBEC")
		width: 20%
		height: 100%